.espacio-arriba{
    margin-top: 10px;
}
.espacio-abajo {
    margin-bottom: 10px;
}

.header{
    background-color: #89797D;
    /*background-color: #7A7479;*/
}

.logo-espacio{
	margin-bottom: 60px;
}

.color{
    background-color: #B09EA3;
}
.color-well{
    /*background-color: #E0D3D7;*/
    background-color: #D2D0D2;
}

.auto{
	width: 100%;
}

input[type=text], select, input[type=password], input[type=number], textarea{
	display: block;
	width: 100%;
	height: 45px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dce4ec;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom: 10px;
}
.bg-faded {
    background-color: rgba(144, 143, 147, 0.42);
}
